.stock-section {

	.container {

		.row {

			& > [class*='col-'] {

				padding: 0;
				
				& > [class*='col-'] {

					padding: 0;
					
				}

			}

			.Mycarusel3 {

				margin-bottom: 120px;

				.slick-prev {

    				left: -40px;

				}

				.slick-next {

    				right: -40px;

				}

				.slick-track {

					margin-top: 56px;

					& > [class*='col-'] {

						padding: 0;
					
					}

					.stock-slider {

						position: relative;

						& > [class*='col-'] {

							padding: 0;
							
						}

						.stock-image {

							display: inline-block;
							left: 28%;
							position: absolute;
							top: 17.6%;

							@media (min-width: 1441px) {

								display: inline-block;
								left: 28%;
								position: absolute;
								top: 17.6%;
						
							}	


						}

						.stock-info {

							left: 1.1%;
							padding-left: 15px;
							padding-right: 75px;
							position: absolute;
							top: 60%;

							@media (min-width: 992px) and (max-width: 1024px) {
			
								top: 60%;
							
							}

							.news-info {

								color: #000;
								font-family: 'proxima_nova_cn_rgregular', Arial, sans-serif;
								font-size: 17px;
								font-stretch: normal;
								font-style: normal;
								font-weight: 400;
								padding-bottom: 15px;

							}

							.news-date {

								color: #000;
								font-family: 'proxima_nova_cn_rgregular', Arial, sans-serif;
								font-size: 17px;
								font-stretch: normal;
								font-style: normal;
								font-weight: 400;

							}

						}
			
						.div-stock {

							border: 4px solid #33387c;
							color: #33387c;
							font-family: 'proxima_nova_cn_rgregular', Arial, sans-serif;
							font-size: 15px;
							font-stretch: normal;
							font-style: normal;
							font-weight: 400;
							padding-left: 26px;
							padding-top: 26px;
							

							p {

								text-decoration: underline;

							}

							.stock-title {

								color: #000;
								font-family: 'proxima_nova_rgbold', Arial, sans-serif;
								font-size: 23px;
								font-stretch: normal;
								font-style: normal;
								font-weight: 700;
								margin-bottom: 20px;
								text-decoration: none;

							}


						}

						.div-news {

							@include align-items(flex-start);
							@include flex-direction(column);
							@include flexbox;
							@include justify-content(space-between);
							color: #33387c;
							font-family: 'proxima_nova_cn_rgregular', Arial, sans-serif;
							font-size: 15px;
							font-stretch: normal;
							font-style: normal;
							font-weight: 400;
							margin-left: 28%;
							padding-top: 30px;
							
							p {
								
								text-decoration: underline;
								
							}

							.news-title {

								color: #000;
								font-family: 'proxima_nova_rgbold', Arial, sans-serif;
								font-size: 15px;
								font-stretch: normal;
								font-style: normal;
								font-weight: 700;
								padding-top: 30px;
								text-decoration: none;
								padding-bottom: 40px;

							}

							.news-date {

								color: #000;
								font-family: 'proxima_nova_cn_rgregular', Arial, sans-serif;
								font-size: 17px;
								font-stretch: normal;
								font-style: normal;
								font-weight: 400;
								text-decoration: none;

							}

						}

						.div-news-second {

							@include align-items(flex-start);
							@include flex-direction(column);
							@include flexbox;
							@include justify-content(space-between);
							color: #33387c;
							font-family: 'proxima_nova_cn_rgregular', Arial, sans-serif;
							font-size: 15px;
							font-stretch: normal;
							font-style: normal;
							font-weight: 400;
							margin-left: 5%;
							padding-top: 30px;
							
							p {
								
								text-decoration: underline;
								
							}

							.news-title {

								color: #000;
								font-family: 'proxima_nova_rgbold', Arial, sans-serif;
								font-size: 15px;
								font-stretch: normal;
								font-style: normal;
								font-weight: 700;
								padding-bottom: 19px;
								padding-top: 30px;
								text-decoration: none;

							}

							.news-date {

								color: #000;
								font-family: 'proxima_nova_cn_rgregular', Arial, sans-serif;
								font-size: 17px;
								font-stretch: normal;
								font-style: normal;
								font-weight: 400;
								text-decoration: none;

							}

						}

					}

				}
			
			}

		}
			
	}

}